<%= link_to 'Home', root_path %>
<%= link_to 'Friends',  users_path%>
<%= link_to "Profile", edit_user_registration_path %>
<%= link_to "Notifications (#{current_user.notifications.unseen.count})", notifications_path %>
<div class='nav-user-container'>
  <%= render partial: 'shared/user_profile_image', locals: {user: current_user} %>
  <p class='nav-user-name'><%= current_user.full_name %></p>
</div>
<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
