<%= link_to "Edit profile", edit_user_registration_path %>
<%= link_to 'Friends',  users_path%>
<p class='nav-user-name'><%= current_user.full_name %></p>
<% unless current_user.profile_image.attached? %>
  <%= image_tag('default_profile.svg')%>
<% else %>
  <%= image_tag current_user.profile_image.variant(resize_to_limit: [100, nil]), width: '100px', height: 'auto'%>
<% end %>
<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
