<%= form_with model: @post do |form| %>
	<div class='new-post-form'>
		<%= form.text_area :body, size: "60x10", class: 'new-post-input', placeholder: 'Let others know how you feel...' %>
		<%= form.submit 'Post', class: 'new-post-button' %>
		<%= form.label :post_image %>
		<%= form.file_field :post_image %>
	</div>
<% end %>
