<div class='post-container'>
	<div class='post-header'>
		<h4 class='post-author'><%= post.user.full_name %></h4>
		<h5 class='post-date'><%= post.created_at.strftime('%B %d %Y at %H:%M') %></h5>
	</div>
	<div class='post-body'>
		<p><%= post.body %></p>
		<% if post.post_image.attached? %>
			<%= image_tag post.post_image.variant(resize_to_limit: [200, nil]), width: '200px', height: 'auto' %>
		<% end %>
	</div>
	<div class='post-footer'>
		<%if post.user == current_user %>
			<%= link_to 'Edit', edit_post_path(post) %>
			<%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
		<%= link_to "View", post_path(post) %>
		<%= link_to "Comments(#{post.comments.count})", post_path(post) %>
	</div>
</div>