<!DOCTYPE html>
<html>
  <head>
    <title>NotFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type='text/css' href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap">
    <script src="https://kit.fontawesome.com/56fe9a6546.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script>
      function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
          testAPI();
        } else {                                 // Not logged into your webpage or we are unable to tell.
          document.getElementById('status').innerHTML = 'Please log ' +
            'into this webpage.';
        }
      }
      
      
      function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
          statusChangeCallback(response);
        });
      }
      
      
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2916833205249607',
          cookie     : true,                     // Enable cookies to allow the server to access the session.
          xfbml      : true,                     // Parse social plugins on this webpage.
          version    : 'v11.0'           // Use this Graph API version for this call.
        });
      
      
        FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
          statusChangeCallback(response);        // Returns the login status.
        });
      };
      
      function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
      }
    </script>
    <div class='page-container'>
      <div class='content-wrap'>
        <nav class='nav'>
          <% if user_signed_in? %>
            <%= link_to image_tag('NotFacebookLogo.svg', size: '355x46', class: 'logo'), root_path %>
            <%= render 'shared/signed_in_nav' %>
          <% else %>
            <%= link_to image_tag('NotFacebookLogo.svg', size: '355x46', class: 'logo'), root_path %>
            <%= render 'shared/login_nav' %>
          <% end %>
        </nav>
        <% if flash[:notice] || flash[:alert] %>
          <section class='flash-container'>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </section>
        <% end %>
        <main class=''>
          <%= yield %>
        </main>
      </div>
      <% if user_signed_in? %>
        <footer class='footer'>
          <%= link_to root_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
          <%= link_to users_path do %>
            <i class="fas fa-users fa-2x"></i>
          <% end %>
        </footer>
      <% end %>
    </div>
  </body>
</html>
